image: docker:latest

services:
  - docker:dind

stages:
  - test

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"

test:
  stage: test
  script:
    - docker build -t booking-api-tests .
    - docker run --rm -v $(pwd)/TestResults:/app/TestResults booking-api-tests
    - echo "Listing TestResults directory:"
    - ls -la TestResults/
  artifacts:
    when: always
    paths:
      - TestResults/
    reports:
      junit: TestResults/*.trx
    expire_in: 30 days
